#vacation-history{
    border: 1px solid lightgray;
    padding: 50px;
    border-radius: 15px;
}

#history{
    padding: 15px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
}

#history td, #history th{
    padding: 5px;
    border-left: 1px solid lightgray;
}

#history th{
    text-align: center;
}

#history tr:nth-child(1){
    background-color: lightgray;
}

#history tr:nth-child(2n+2){
    background-color: whitesmoke;
}
#history td:nth-child(4){
    text-align: center;
}
#history button{
    background-color: #0275d8;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}